
<div class="container-fluid ">
  <div class="row">
    <div class="col-12 bg-light text-center">
      <app-map-default-logo class="m-auto"></app-map-default-logo>
    </div>
    <div class="col-md-4 ">
      <div class="h-100  m-1 align-items-center align-middle" >
      <app-map-user-list ></app-map-user-list>
      </div>
    </div>
    <div class="col-md-8 ">
      <div class="h-100 w-100   align-items-center position-fixed  align-middle">
          <div class=" d-inline-block  position-absolute translate-middle top-50 end-50">
            <span class="inline-block">

              <img src="../../../assets/logo/ab42759c94b8e87e5ec2726e76d1e4dc.png" width="524" height="394"  alt="" srcset="">
            </span>
            <br>
              <span class="inline-block">Google Map'e Hoşgeldiniz!</span>
          </div>
      </div>
    </div>
  </div>


</div>
