<div class="container center  position-relative p-0">

  <app-map-card
  myClass="p-1 loginCard position-absolute translate-middle top-50 start-50"
  >
  <ng-template >
    <div class="text-center mt-3">

      <app-map-default-logo></app-map-default-logo>
    </div>
    <p class="text-center mt-4"> Şifrenizi sıfırlamak istediğiniz E-Mail adresini giriniz</p>
    <app-map-form-field fieldId="email" fieldText="Email" myClass="mt-5" >
      <ng-template>

        <app-map-input id="email" (valueChange)="changeEmail($event)" [myValue]="email" name="email" myClass="form-control bg-light" placeholder="Email Adresinizi Giriniz!" type="email"></app-map-input>
      </ng-template>
    </app-map-form-field>


    <app-map-button id="loginButton" name="loginButton" text="Şifremi Sıfırla" (clickEvent)="clicked()" myClass="btn btn-primary w-100 mt-4"></app-map-button>
    <p class="mt-4 text-center"><a routerLink="/login" class="text-primary ">Veya Giriş Yap</a></p>
  </ng-template>
</app-map-card>
</div>
