<div class="container center  position-relative p-0">

    <app-map-card
    myClass="p-1 loginCard position-absolute translate-middle top-50 start-50"
    >
    <ng-template >
      <div class="text-center mt-3">

        <app-map-default-logo></app-map-default-logo>
      </div>
      <p class="text-center mt-4"> Google Maps'e Hoşgeldiniz</p>
      <app-map-form-field fieldId="email" fieldText="Email" myClass="mt-5" >
        <ng-template>

          <app-map-input id="email" (valueChange)="changeEmail($event)" [myValue]="email" name="email" myClass="form-control bg-light" placeholder="Email Adresinizi Giriniz!" type="email"></app-map-input>
        </ng-template>
      </app-map-form-field>
      <app-map-form-field myClass="mt-3" fieldId="password" fieldText="Şifre">
        <ng-template>

          <app-map-input id="password" (valueChange)="changePassword($event)" [myValue]="password" name="password" myClass="form-control bg-light" placeholder="Parolanızı Giriniz!" type="password"></app-map-input>
        </ng-template>
      </app-map-form-field>
      <p class="mt-4"><a routerLink="/forgot" class="text-primary float-end">Şifremi Unuttum</a></p>

      <app-map-button id="loginButton" name="loginButton" text="Giriş Yap" (clickEvent)="clicked()" myClass="btn btn-primary w-100 mt-4"></app-map-button>
    </ng-template>
  </app-map-card>
</div>
